@media (max-width: 1000px){
  .right {
    margin-right: 60px;
  }
}
.right {
  color: white;
  position: absolute;
  right: 0;
  padding-bottom: 20px;
  top: 0;
  margin-top: 12px;
}
#white {
  color: white;
}